iss.flow
[    {        "id": "439b69d1.2363a4",        "type": "template",        "z": "97600bc2.b4cac8",        "name": "Space Station Tracker",        "field": "payload",        "fieldType": "msg",        "format": "handlebars",        "syntax": "plain",        "template": "<!DOCTYPE html>\n<html>\n    <head>\n        <title>Realtime ISS</title>\n        <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\" />\n        <style type=\"text/css\">\n            html { height: 100% }\n            body { height: 100%; margin: 0; padding: 0 }\n            #map { height: 100% }\n        </style>\n        <script type=\"text/javascript\" src=\"//maps.googleapis.com/maps/api/js?key=AIzaSyAFLoXS1lPMv75OISOZ0GujwAhH1LPlJP4&sensor=false\"></script>\n        <script src=\"//googlemaps.github.io/js-map-label/src/maplabel-compiled.js\"></script>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n            var map, marker, last_latlng;\n\n            function init() {\n                var latlng = new google.maps.LatLng(43.7081784,-79.4609571);//51.48931, -0.08819);\n                var mapOptions = { center: latlng, zoom: 2, mapTypeId: google.maps.MapTypeId.TERRAIN, //zoomControl: true, scaleControl: true}\n          \n           mapTypeControl: true,\n          mapTypeControlOptions: {\n              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,\n              position: google.maps.ControlPosition.TOP_CENTER\n          },\n          zoomControl: true,\n          zoomControlOptions: {\n              position: google.maps.ControlPosition.LEFT_CENTER\n          },\n          scaleControl: true,\n          streetViewControl: true,\n          streetViewControlOptions: {\n              position: google.maps.ControlPosition.LEFT_TOP\n          },\n          fullscreenControl: true\n                }\n\n\n                map = new google.maps.Map(document.getElementById(\"map\"), mapOptions);\n                infoWindow = new google.maps.InfoWindow();\n                maxZoomService = new google.maps.MaxZoomService();\n              //  map.addListener('click', showMaxZoom);\n\n\n                marker = new google.maps.Marker({ position: latlng, map: map, title: \"Lat:\"+latlng, icon: 'https://raw.githubusercontent.com/picklepete/iss/master/saticon.gif' });\n    //aquator\n    \n    \n       var rectangle = new google.maps.Rectangle({\n       strokeColor: '#0000FF',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(0, 90),\n       new google.maps.LatLng(0, 0))\n     });\n     \n    b1tlx= 85.03568516\n    b1tly= -150.734375\n    b1brx= -60.2679967\n    b1bry= -120.90625\n    var rectangle = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b1tlx, b1tly),\n       new google.maps.LatLng(b1brx, b1bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 1',\n          position: new google.maps.LatLng(b1brx, b1bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n     //   mapLabel.set('position', new google.maps.LatLng(34.03, -118.235));\n        \n    b2tlx= 85.03568516\n    b2tly= -100.734375\n    b2brx= -60.2679967\n    b2bry= -70.90625\n   \n  var rectangle1 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b2tlx, b2tly),\n       new google.maps.LatLng(b2brx, b2bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 2',\n          position: new google.maps.LatLng(b2brx, b2bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n   \n  var rectangle2 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, -50.734375),\n       new google.maps.LatLng(-60.2679967,-10.90625))\n     });\n   \n       var mapLabel = new MapLabel({\n          text: 'BOX 3',\n          position: new google.maps.LatLng(-60.2679967,-10.90625),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n     var rectangle3 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, 10),\n       new google.maps.LatLng(-60.2679967, 40))\n     });\n     \n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 4',\n          position: new google.maps.LatLng(-60.2679967, 40),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n          var rectangle4 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85, 90),\n       new google.maps.LatLng(-60, 130))\n     }); \n     \n       \n       var mapLabel = new MapLabel({\n          text: 'BOX 5',\n          position: new google.maps.LatLng(-60, 130),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n         \n            }\n            google.maps.event.addDomListener(window, 'load', init);\n\n\n\n           function showMaxZoom(e) {\n             maxZoomService.getMaxZoomAtLatLng(e.latLng, function(response) {\n               if (response.status !== google.maps.MaxZoomStatus.OK) {\n                 infoWindow.setContent('Error in MaxZoomService');\n               } else {\n                 infoWindow.setContent(\n                     'The maximum zoom at this location is: ' + response.zoom);\n               }\n               infoWindow.setPosition(e.latLng);\n               infoWindow.open(map);\n             });\n           }\n            function draw_flight_path(latlng) {\n                if(last_latlng == undefined) {\n                    last_latlng = latlng;\n                }\n                flight_path = new google.maps.Polyline({\n                    path: [last_latlng, latlng],\n                    strokeColor: \"#FFFF00\",\n                    strokeOpacity: 1.0,\n                    strokeWeight: 2\n                });\n                last_latlng = latlng;\n                flight_path.setMap(map);\n            };\n\n            function get_latest_position() {\n                $.getJSON('http://open-notify-api.herokuapp.com/iss-now.json?callback=?', function(data, status) {\n                    position = data.iss_position;\n var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n// $.getJSON('https://api.wheretheiss.at/v1/satellites/25544/', function(data, status) {\n\n                    var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n                    map.setCenter(latlng);\n                    marker.setPosition(latlng);\n                    marker.setTitle(\"Position: \"+latlng);\n                    var mycon = \"ISSI<br>Lat:\"+position.latitude+\"<br>Long\"+ position.longitude\n                    var myinfowindow = new google.maps.InfoWindow({\n                        content: mycon\n                    });\n marker.addListener('click', function() {\n    myinfowindow.open(map, marker);\n  });\n\n                    draw_flight_path(latlng);\n                    \n                });\n            };\n            setInterval(get_latest_position, 5000);\n        </script>\n    </head>\n    <body>\n        <div id=\"map\"/>\n    </body>\n</html>\n",        "output": "str",        "x": 280,        "y": 100,        "wires": [            [                "f2a46fb2.1a6ec8"            ]        ]    },    {        "id": "b90f3b77.5ac3d8",        "type": "http in",        "z": "97600bc2.b4cac8",        "name": "",        "url": "/iss",        "method": "get",        "upload": false,        "swaggerDoc": "",        "x": 63.5,        "y": 99.25,        "wires": [            [                "439b69d1.2363a4"            ]        ]    },    {        "id": "f2a46fb2.1a6ec8",        "type": "http response",        "z": "97600bc2.b4cac8",        "name": "",        "statusCode": "",        "headers": {},        "x": 490,        "y": 100,        "wires": []    },    {        "id": "41a26295.a6bef",        "type": "http request",        "z": "97600bc2.b4cac8",        "name": "",        "method": "GET",        "ret": "obj",        "url": "http://open-notify-api.herokuapp.com/iss-now.json",        "tls": "",        "x": 250,        "y": 180,        "wires": [            [                "93ae7870.bc7d88",                "f415c481.554168",                "e4d4b295.a21e38",                "704bacb.0070254"            ]        ]    },    {        "id": "93ae7870.bc7d88",        "type": "debug",        "z": "97600bc2.b4cac8",        "name": "IssiPos",        "active": false,        "console": "false",        "complete": "payload",        "x": 240,        "y": 140,        "wires": []    },    {        "id": "dedf101.b2d98b",        "type": "inject",        "z": "97600bc2.b4cac8",        "name": "",        "topic": "",        "payload": "",        "payloadType": "date",        "repeat": "10",        "crontab": "",        "once": false,        "x": 70,        "y": 180,        "wires": [            [                "41a26295.a6bef"            ]        ]    },    {        "id": "7d78989e.9b172c",        "type": "ui_template",        "z": "97600bc2.b4cac8",        "group": "c449c296.84b4",        "name": "map",        "order": 0,        "width": "15",        "height": "11",        "format": "<div >\n<iframe src=\"/iss\" height=600 width=800>\n  <p>Your browser does not support iframes.</p>\n</iframe>\n</div>",        "storeOutMessages": false,        "fwdInMessages": false,        "templateScope": "local",        "x": 490,        "y": 60,        "wires": [            []        ]    },    {        "id": "f415c481.554168",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "DisplayLat",        "func": "\nreturn msg;",        "outputs": 1,        "noerr": 0,        "x": 490,        "y": 200,        "wires": [            [                "eab5b4a4.664288",                "157c3baa.a2175c"            ]        ]    },    {        "id": "eab5b4a4.664288",        "type": "ui_text",        "z": "97600bc2.b4cac8",        "group": "8fe5fcaa.813d7",        "order": 1,        "width": 0,        "height": 0,        "name": "",        "label": "latitude",        "format": "{{msg.payload.iss_position.latitude}}",        "layout": "row-spread",        "x": 680,        "y": 180,        "wires": []    },    {        "id": "157c3baa.a2175c",        "type": "ui_text",        "z": "97600bc2.b4cac8",        "group": "8fe5fcaa.813d7",        "order": 2,        "width": 0,        "height": 0,        "name": "",        "label": "longitude",        "format": "{{msg.payload.iss_position.longitude}}",        "layout": "row-spread",        "x": 680,        "y": 220,        "wires": []    },    {        "id": "139d0baa.e4a694",        "type": "ui_gauge",        "z": "97600bc2.b4cac8",        "name": "",        "group": "1d0fe605.fc9a26",        "order": 0,        "width": "5",        "height": "3",        "gtype": "gage",        "title": "Blue",        "label": "units",        "format": "{{value}}",        "min": 0,        "max": "255",        "colors": [            "#7e959a",            "#6f7dc9",            "#530dbb"        ],        "seg1": "",        "seg2": "",        "x": 1210,        "y": 760,        "wires": []    },    {        "id": "49e72aa4.1e6e04",        "type": "ui_gauge",        "z": "97600bc2.b4cac8",        "name": "",        "group": "1d0fe605.fc9a26",        "order": 0,        "width": "5",        "height": "3",        "gtype": "gage",        "title": "Green",        "label": "units",        "format": "{{value}}",        "min": 0,        "max": "255",        "colors": [            "#7e959a",            "#73bc78",            "#21ac1b"        ],        "seg1": "",        "seg2": "",        "x": 1210,        "y": 720,        "wires": []    },    {        "id": "b7238fb2.9b47d",        "type": "ibmiot in",        "z": "97600bc2.b4cac8",        "authentication": "boundService",        "apiKey": "",        "inputType": "evt",        "deviceId": "playbulb00",        "applicationId": "",        "deviceType": "+",        "eventType": "ping",        "commandType": "",        "format": "json",        "name": "FromPiCandle",        "service": "registered",        "allDevices": false,        "allApplications": false,        "allDeviceTypes": true,        "allEvents": false,        "allCommands": false,        "allFormats": true,        "qos": "0",        "x": 690,        "y": 720,        "wires": [            [                "245ed25f.3ab452",                "df47fbe0.0bfdf8",                "a39abaf4.256718",                "1dea760f.1ff08a",                "1c42a4b1.48c93b",                "f58c8e87.6ae9d8"            ]        ]    },    {        "id": "704bacb.0070254",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "CheckArea",        "func": "//Lat = Y Long = X\n/*\nbb is the bounding box, (ix,iy) are its top-left coordinates, and (ax,ay) its bottom-right coordinates. p is the point and (x,y) its coordinates.\n*/\nfunction checkPos(lat,lon,topleftlat,topleftlon,bottomrightlat,bottomrightlon,box)\n{\n    msg.inbox = box;\n  \n  //  node.warn(\"X topleftlon \"+topleftlon+\"  <= lon \"+lon+ \" res = \"+(   topleftlon <= lon   ))\n  //  node.warn(\"X lon \"+lon+\"  <= bottomrightlon \"+bottomrightlon+ \" res = \"+(  lon <= bottomrightlon)  )\n\nif( topleftlon <= lon && lon <= bottomrightlon ) {\n    // Point is in bounding box\n\n \n //node.warn(\" ISS in the area (\"+box+\").. candle ON\")  \nreturn true;\n\n}else{\n// node.warn(\"ISS not in the area  (\"+box+\")... candle OFF\")  \n return  false;\n\n\n}\nreturn  false;\n}\n\n \nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n\n  r0LatTl= 85\n  r0LngTl=-150\n\n  r0LatBr= -60\n  r0LngBr= -120\n\n  r1LatTl=  85\n  r1LngTl=-100.\n\n  r1LatBr= -60\n  r1LngBr= -70\n\n\n  r2LatTl=  85\n  r2LngTl= -50\n\n  r2LatBr= -60\n  r2LngBr= -10\n\n  r3LatTl=  85\n  r3LngTl= 10\n\n  r3LatBr= 85\n  r3LngBr= 40\n  \n  r4LatTl= 85\n  r4LngTl= 90\n\n  r4LatBr= -60\n  r4LngBr= 130\n\n/*\n\nlatitude\n\n-50.50472391191916\n\nlongitude\n\n-126.35910070188285\n\n\n\nlatitude = -50.5047239119191\n\nlongitude= -126.35910070188285\n\nmsg.inarea = false;\n node.warn(\"check\")\nres =checkPos(latitude ,longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box 1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n  */  \n\nmsg.inarea = false;\nres =checkPos(msg.latitude ,msg.longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n\n\nres =checkPos(msg.latitude ,msg.longitude,r1LatTl,r1LngTl,r1LatBr,r1LngBr,\"box 2\");\nmsg.inarea = res;\nif(res)\n    return msg;\n    \n \nres =checkPos(msg.latitude ,msg.longitude,r2LatTl,r2LngTl,r2LatBr,r2LngBr,\"box 3\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\nres =checkPos(msg.latitude ,msg.longitude,r3LatTl,r3LngTl,r3LatBr,r3LngBr,\"box 4\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\n\nres =checkPos(msg.latitude ,msg.longitude,r4LatTl,r4LngTl,r4LatBr,r4LngBr,\"box 5\");\nmsg.inarea = res;\nif(res)\n    return msg; \n    \nmsg.inbox = \"No\";    \nreturn msg;",        "outputs": 1,        "noerr": 0,        "x": 150,        "y": 360,        "wires": [            [                "97d5d30e.ad37d8",                "e6b3f274.f8842",                "304df7c7.125314"            ]        ]    },    {        "id": "3eb2d414.8ffbc",        "type": "e-mail",        "z": "97600bc2.b4cac8",        "server": "smtp.gmail.com",        "port": "465",        "secure": true,        "name": "yourmail@gmail.com , mvk4ibm@gmail.com",        "dname": "",        "x": 1190,        "y": 360,        "wires": []    },    {        "id": "253c97d5.eb94f8",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "IfIss is in Area send email",        "func": "\n    msg.topic = \"ISS update for YOU\"\n    msg.payload= \"Hello from Node-RED ISS is in Area with the SPEED of x Km/H and traveled  \"+global.get(\"distance\")+ \" km\";\n    return msg;",        "outputs": 1,        "noerr": 0,        "x": 850,        "y": 360,        "wires": [            [                "3eb2d414.8ffbc",                "da9c0f43.ba8e2"            ]        ]    },    {        "id": "f93a9315.200c9",        "type": "inject",        "z": "97600bc2.b4cac8",        "name": "Send Email",        "topic": "",        "payload": "",        "payloadType": "str",        "repeat": "",        "crontab": "",        "once": false,        "x": 850,        "y": 420,        "wires": [            [                "253c97d5.eb94f8"            ]        ]    },    {        "id": "da9c0f43.ba8e2",        "type": "debug",        "z": "97600bc2.b4cac8",        "name": "email",        "active": false,        "console": "false",        "complete": "true",        "x": 1070,        "y": 420,        "wires": []    },    {        "id": "b072071f.99fcf8",        "type": "delay",        "z": "97600bc2.b4cac8",        "name": "",        "pauseType": "delay",        "timeout": "2",        "timeoutUnits": "seconds",        "rate": "1",        "nbRateUnits": "1",        "rateUnits": "second",        "randomFirst": "1",        "randomLast": "5",        "randomUnits": "seconds",        "drop": true,        "x": 80,        "y": 520,        "wires": [            [                "7d1ae22f.41f16c"            ]        ]    },    {        "id": "b08edcb4.1519",        "type": "ibmiot out",        "z": "97600bc2.b4cac8",        "authentication": "boundService",        "apiKey": "",        "outputType": "cmd",        "deviceId": "playbulb00",        "deviceType": "playbulb",        "eventCommandType": "setColor",        "format": "json",        "data": "msg.payload",        "qos": 0,        "name": "toPiCandle",        "service": "registered",        "x": 610,        "y": 520,        "wires": []    },    {        "id": "f219ec9f.c4ba88",        "type": "comment",        "z": "97600bc2.b4cac8",        "name": "Check the Code below",        "info": "",        "x": 160,        "y": 320,        "wires": []    },    {        "id": "291ab976.45d6ea",        "type": "comment",        "z": "97600bc2.b4cac8",        "name": "IssWebPage",        "info": "",        "x": 247.22222222222217,        "y": 57.5,        "wires": []    },    {        "id": "59c303de.86577",        "type": "comment",        "z": "97600bc2.b4cac8",        "name": "#2 Use Your GMAIL account",        "info": "",        "x": 1140,        "y": 320,        "wires": []    },    {        "id": "e48aab69.83d408",        "type": "inject",        "z": "97600bc2.b4cac8",        "name": "",        "topic": "",        "payload": "",        "payloadType": "date",        "repeat": "",        "crontab": "",        "once": false,        "x": 80,        "y": 560,        "wires": [            [                "7d1ae22f.41f16c"            ]        ]    },    {        "id": "74f3b81f.882e0c",        "type": "comment",        "z": "97600bc2.b4cac8",        "name": "#1 Adjust the candle number",        "info": "",        "x": 880,        "y": 460,        "wires": []    },    {        "id": "831d73bc.1d4eb",        "type": "comment",        "z": "97600bc2.b4cac8",        "name": "#1 Adjust the candle number",        "info": "",        "x": 700,        "y": 680,        "wires": []    },    {        "id": "245ed25f.3ab452",        "type": "debug",        "z": "97600bc2.b4cac8",        "name": "InComing",        "active": false,        "console": "false",        "complete": "payload",        "x": 680,        "y": 780,        "wires": []    },    {        "id": "df47fbe0.0bfdf8",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "Red",        "func": "var newmsg ={}\nnewmsg.payload = msg.payload.candleRR\nnewmsg.topic =\"Red\";\nreturn newmsg;",        "outputs": 1,        "noerr": 0,        "x": 1010,        "y": 680,        "wires": [            [                "fba92875.e572f8"            ]        ]    },    {        "id": "a39abaf4.256718",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "Green",        "func": "msg.payload = msg.payload.candleGG\nmsg.topic =\"Green\";\nreturn msg;",        "outputs": 1,        "noerr": 0,        "x": 1010,        "y": 720,        "wires": [            [                "49e72aa4.1e6e04"            ]        ]    },    {        "id": "1dea760f.1ff08a",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "Blue",        "func": "msg.payload = msg.payload.candleBB\nmsg.topic =\"Blue\";\nreturn msg;",        "outputs": 1,        "noerr": 0,        "x": 1010,        "y": 760,        "wires": [            [                "139d0baa.e4a694"            ]        ]    },    {        "id": "fba92875.e572f8",        "type": "ui_gauge",        "z": "97600bc2.b4cac8",        "name": "",        "group": "1d0fe605.fc9a26",        "order": 0,        "width": "5",        "height": "3",        "gtype": "gage",        "title": "Red",        "label": "units",        "format": "{{value}}",        "min": 0,        "max": "255",        "colors": [            "#7e959a",            "#bcb489",            "#ac0c19"        ],        "seg1": "",        "seg2": "",        "x": 1210,        "y": 680,        "wires": []    },    {        "id": "a513474.e77e138",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "setCandle=OFF",        "func": "var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;",        "outputs": 1,        "noerr": 0,        "x": 440,        "y": 440,        "wires": [            [                "b08edcb4.1519",                "b548851f.e12818"            ]        ]    },    {        "id": "993fe1bd.5be518",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "setCandle=Red",        "func": "var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;",        "outputs": 1,        "noerr": 0,        "x": 320,        "y": 500,        "wires": [            [                "b08edcb4.1519"            ]        ]    },    {        "id": "7f1c7dc7.89ae5",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "setCandle=Blue",        "func": "var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;",        "outputs": 1,        "noerr": 0,        "x": 120,        "y": 640,        "wires": [            [                "b08edcb4.1519"            ]        ]    },    {        "id": "cba97588.516ec8",        "type": "inject",        "z": "97600bc2.b4cac8",        "name": "",        "topic": "",        "payload": "",        "payloadType": "date",        "repeat": "",        "crontab": "",        "once": false,        "x": 80,        "y": 600,        "wires": [            [                "7f1c7dc7.89ae5"            ]        ]    },    {        "id": "7d1ae22f.41f16c",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "setCandle=Green",        "func": "var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;",        "outputs": 1,        "noerr": 0,        "x": 330,        "y": 540,        "wires": [            [                "b08edcb4.1519"            ]        ]    },    {        "id": "2d1f0d20.5565fe",        "type": "comment",        "z": "97600bc2.b4cac8",        "name": "#3 Check email text",        "info": "",        "x": 830,        "y": 320,        "wires": []    },    {        "id": "97d5d30e.ad37d8",        "type": "switch",        "z": "97600bc2.b4cac8",        "name": "In Area ?",        "property": "inarea",        "propertyType": "msg",        "rules": [            {                "t": "true"            },            {                "t": "else"            }        ],        "checkall": "true",        "outputs": 2,        "x": 340,        "y": 360,        "wires": [            [                "b072071f.99fcf8",                "bfeabbb6.a16538",                "993fe1bd.5be518",                "c9a9c64f.33ada8"            ],            [                "a513474.e77e138"            ]        ]    },    {        "id": "bfeabbb6.a16538",        "type": "delay",        "z": "97600bc2.b4cac8",        "name": "",        "pauseType": "rate",        "timeout": "1",        "timeoutUnits": "minutes",        "rate": "1",        "nbRateUnits": "1",        "rateUnits": "minute",        "randomFirst": "1",        "randomLast": "5",        "randomUnits": "seconds",        "drop": true,        "x": 580,        "y": 360,        "wires": [            [                "253c97d5.eb94f8"            ]        ]    },    {        "id": "b548851f.e12818",        "type": "debug",        "z": "97600bc2.b4cac8",        "name": "Not in area",        "active": true,        "console": "false",        "complete": "true",        "x": 610,        "y": 440,        "wires": []    },    {        "id": "e6b3f274.f8842",        "type": "debug",        "z": "97600bc2.b4cac8",        "name": "Check",        "active": false,        "console": "false",        "complete": "payload",        "x": 130,        "y": 420,        "wires": []    },    {        "id": "2f355ce8.d21d58",        "type": "ui_text",        "z": "97600bc2.b4cac8",        "group": "8fe5fcaa.813d7",        "order": 4,        "width": 0,        "height": 0,        "name": "",        "label": "In Area?",        "format": "{{msg.inbox}}",        "layout": "row-spread",        "x": 680,        "y": 280,        "wires": []    },    {        "id": "304df7c7.125314",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "InBox",        "func": "msg.inbox = msg.inbox.toUpperCase();\nreturn msg;",        "outputs": 1,        "noerr": 0,        "x": 470,        "y": 280,        "wires": [            [                "2f355ce8.d21d58"            ]        ]    },    {        "id": "210e6ce0.537fd",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "setCandle=OFF",        "func": "var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;",        "outputs": 1,        "noerr": 0,        "x": 120,        "y": 760,        "wires": [            [                "b08edcb4.1519"            ]        ]    },    {        "id": "427a8c27.c4528",        "type": "ui_button",        "z": "97600bc2.b4cac8",        "name": "",        "group": "8fe5fcaa.813d7",        "order": 6,        "width": 0,        "height": 0,        "passthru": false,        "label": "Turn Candle Off",        "color": "",        "bgcolor": "",        "icon": "",        "payload": "\"off\"",        "payloadType": "str",        "topic": "",        "x": 96.875,        "y": 800.625,        "wires": [            [                "210e6ce0.537fd"            ]        ]    },    {        "id": "c9a9c64f.33ada8",        "type": "debug",        "z": "97600bc2.b4cac8",        "name": "In Area",        "active": true,        "console": "false",        "complete": "true",        "x": 480,        "y": 320,        "wires": []    },    {        "id": "1c42a4b1.48c93b",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "Counter",        "func": "var newmsg ={}\nnewmsg.payload = msg.payload.value\nreturn newmsg;",        "outputs": 1,        "noerr": 0,        "x": 1020,        "y": 620,        "wires": [            [                "d71d1a64.8c55d8"            ]        ]    },    {        "id": "d71d1a64.8c55d8",        "type": "ui_text",        "z": "97600bc2.b4cac8",        "group": "1d0fe605.fc9a26",        "order": 5,        "width": 0,        "height": 0,        "name": "",        "label": "Counter",        "format": "{{msg.payload}}",        "layout": "row-spread",        "x": 1220,        "y": 620,        "wires": []    },    {        "id": "e4d4b295.a21e38",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "Sale LatLong",        "func": "\nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n//msg.payload = []//\n//msg.payload =msg.latitude;\n//msg.topic=\"Lat\";\nnode.send(msg)\nmsg.topic=\"Lon\";\nmsg.payload =msg.longitude;\n//msg.payload[1] =msg.longitude;\n//\"\"+msg.latitude+\",\"+msg.longitude;\nglobal.set(\"oldlatitude\",global.get(\"latitude\"));\nglobal.set(\"oldlongitude\",global.get(\"longitude\"));\n\nglobal.set(\"latitude\",msg.latitude)\nglobal.set(\"longitude\",msg.longitude)\n\n\nreturn msg;",        "outputs": 1,        "noerr": 0,        "x": 490,        "y": 160,        "wires": [            [                "e3f001be.ab4b2",                "7475da8e.a50fc4"            ]        ]    },    {        "id": "f58c8e87.6ae9d8",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "Time",        "func": "function unixTime(unixtime) {\n\n    var u = new Date(unixtime);\n\n      return u.getUTCFullYear() +\n        '-' + ('0' + u.getUTCMonth()).slice(-2) +\n        '-' + ('0' + u.getUTCDate()).slice(-2) + \n        ' ' + ('0' + u.getUTCHours()).slice(-2) +\n        ':' + ('0' + u.getUTCMinutes()).slice(-2) +\n        ':' + ('0' + u.getUTCSeconds()).slice(-2) +\n        '.' + (u.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) \n    };\n    var newmsg ={}\nnewmsg.payload = unixTime(parseInt(msg.payload.ts))\nreturn newmsg;",        "outputs": 1,        "noerr": 0,        "x": 1010,        "y": 580,        "wires": [            [                "c0eef0f5.62266"            ]        ]    },    {        "id": "c0eef0f5.62266",        "type": "ui_text",        "z": "97600bc2.b4cac8",        "group": "1d0fe605.fc9a26",        "order": 5,        "width": 0,        "height": 0,        "name": "",        "label": "Msg Time",        "format": "{{msg.payload}}",        "layout": "row-spread",        "x": 1220,        "y": 580,        "wires": []    },    {        "id": "4531b3b3.b9f79",        "type": "ui_button",        "z": "97600bc2.b4cac8",        "name": "",        "group": "8fe5fcaa.813d7",        "order": 6,        "width": 0,        "height": 0,        "passthru": false,        "label": "Turn Candle Blue",        "color": "",        "bgcolor": "",        "icon": "",        "payload": "\"off\"",        "payloadType": "str",        "topic": "",        "x": 90,        "y": 700,        "wires": [            []        ]    },    {        "id": "e3f001be.ab4b2",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "Distance",        "func": "function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {\n  var R = 6371; // Radius of the earth in km\n  var dLat = deg2rad(lat2-lat1);  // deg2rad below\n  var dLon = deg2rad(lon2-lon1); \n  var a = \n    Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * \n    Math.sin(dLon/2) * Math.sin(dLon/2)\n    ; \n  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n  var d = R * c; // Distance in km\n  return d;\n}\n\nfunction deg2rad(deg) {\n  return deg * (Math.PI/180)\n}\nlat=global.get(\"latitude\");\nlon=global.get(\"longitude\");\nolat=global.get(\"oldlatitude\");\nolon=global.get(\"oldlongitude\");\n\n\ndistance =getDistanceFromLatLonInKm(olat,olon,lat,lon)\n//node.warn(speed)\nmsg.payload = distance.toFixed(2);\nmsg.distance = distance;\nglobal.set(\"distance\",distance);\nreturn msg;",        "outputs": 1,        "noerr": 0,        "x": 680,        "y": 100,        "wires": [            [                "e56955fb.68b23",                "d4e724d0.4c1d38"            ]        ]    },    {        "id": "e56955fb.68b23",        "type": "ui_text",        "z": "97600bc2.b4cac8",        "group": "8fe5fcaa.813d7",        "order": 4,        "width": 0,        "height": 0,        "name": "",        "label": "Distance in Km( 10Sec)",        "format": "{{msg.payload}}",        "layout": "row-spread",        "x": 930,        "y": 100,        "wires": []    },    {        "id": "7475da8e.a50fc4",        "type": "ui_chart",        "z": "97600bc2.b4cac8",        "name": "",        "group": "8fe5fcaa.813d7",        "order": 0,        "width": 0,        "height": 0,        "label": "Longitude",        "chartType": "line",        "legend": "false",        "xformat": "HH:mm:ss",        "interpolate": "linear",        "nodata": "",        "dot": false,        "ymin": "",        "ymax": "",        "removeOlder": "10",        "removeOlderPoints": "",        "removeOlderUnit": "60",        "cutout": 0,        "useOneColor": false,        "colors": [            "#1f77b4",            "#aec7e8",            "#ff7f0e",            "#2ca02c",            "#98df8a",            "#d62728",            "#ff9896",            "#9467bd",            "#c5b0d5"        ],        "x": 687.2222222222222,        "y": 143.88888888888888,        "wires": [            [],            []        ]    },    {        "id": "3de964b5.fe51c",        "type": "ui_text",        "z": "97600bc2.b4cac8",        "group": "8fe5fcaa.813d7",        "order": 4,        "width": 0,        "height": 0,        "name": "",        "label": "Speed in Km/H",        "format": "{{msg.payload}}",        "layout": "row-spread",        "x": 900,        "y": 60,        "wires": []    },    {        "id": "d4e724d0.4c1d38",        "type": "function",        "z": "97600bc2.b4cac8",        "name": "Calulate SPEED",        "func": "// Home work! Calulate the speed in Km/H of the ISS\n// based on the distance \n//msg.distance = IIS traveld in 10 Sec\n\nmsg.payload = \"???\"\nreturn msg;",        "outputs": 1,        "noerr": 0,        "x": 700,        "y": 60,        "wires": [            [                "3de964b5.fe51c"            ]        ]    },    {        "id": "c449c296.84b4",        "type": "ui_group",        "z": "",        "name": "ISS Area",        "tab": "d3dbf0b2.a7da4",        "order": 1,        "disp": true,        "width": "12"    },    {        "id": "8fe5fcaa.813d7",        "type": "ui_group",        "z": "",        "name": "ISS Infos",        "tab": "d3dbf0b2.a7da4",        "order": 2,        "disp": true,        "width": "6"    },    {        "id": "1d0fe605.fc9a26",        "type": "ui_group",        "z": "",        "name": "FromPI",        "tab": "d3dbf0b2.a7da4",        "order": 3,        "disp": true,        "width": "6"    },    {        "id": "d3dbf0b2.a7da4",        "type": "ui_tab",        "z": "",        "name": "ISS Area",        "icon": "dashboard"    }]
