snp00/iotcandle/02-01Vaiables.flow
[
    {
        "id": "b7f2eccb.31004",
        "type": "debug",
        "z": "ad552fcc.0f3e48",
        "name": "OutputVar",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "8401db9e.645ce8",
        "type": "inject",
        "z": "ad552fcc.0f3e48",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 145.5,
        "y": 60.25,
        "wires": [
            [
                "5ee83adc.646edc"
            ]
        ]
    },
    {
        "id": "5ee83adc.646edc",
        "type": "function",
        "z": "ad552fcc.0f3e48",
        "name": "Variable",
        "func": "/* comment / describe your program */\nvar myname = \"Markus\";\nvar mynumber = 100;\nvar mynumber2 = 71.10;\nvar mybool = true;\n\n//When adding number to string all becomes a string\n\nnode.warn(\"String = \"+myname); \nnode.warn(\"Number1 = \"+mynumber2 + mynumber); \nnode.warn(\"Boolean = \"+mybool); \n\nmsg.payload = myname; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "b7f2eccb.31004"
            ]
        ]
    },
    {
        "id": "5224b25f.ed38bc",
        "type": "debug",
        "z": "ad552fcc.0f3e48",
        "name": "outputIF",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "65ee55f0.bcc24c",
        "type": "inject",
        "z": "ad552fcc.0f3e48",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 145.5,
        "y": 280.25,
        "wires": [
            [
                "654a1ffc.c27958"
            ]
        ]
    },
    {
        "id": "654a1ffc.c27958",
        "type": "function",
        "z": "ad552fcc.0f3e48",
        "name": "IF",
        "func": "/* comment / describe your program */\nvar i = 1;\nvar a = 5;\nvar answer;\nif(a>i)\n{\n    answer=true;\n}else{\n     answer=false;\n    \n}\n\nnode.warn(\"is a > i = \"+answer);\nmsg.payload = answer;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "5224b25f.ed38bc"
            ]
        ]
    },
    {
        "id": "903c05d.e554578",
        "type": "debug",
        "z": "ad552fcc.0f3e48",
        "name": "outputWHILE",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "a700ef5d.e0e358",
        "type": "inject",
        "z": "ad552fcc.0f3e48",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 145.5,
        "y": 340.25,
        "wires": [
            [
                "d11f4354.d1a7c"
            ]
        ]
    },
    {
        "id": "d11f4354.d1a7c",
        "type": "function",
        "z": "ad552fcc.0f3e48",
        "name": "WHILE",
        "func": "/* comment / describe your program */\nvar i = 1;\nvar a = 5;\n\n\nwhile (a > i)\n{\n i++;\n node.warn(\" i = \"+i);\n}\n\n\nmsg.payload = i;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "903c05d.e554578"
            ]
        ]
    },
    {
        "id": "97e8bc65.43af08",
        "type": "debug",
        "z": "ad552fcc.0f3e48",
        "name": "outputFOR",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "2dacb9bf.49ced6",
        "type": "inject",
        "z": "ad552fcc.0f3e48",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 145.5,
        "y": 400.25,
        "wires": [
            []
        ]
    },
    {
        "id": "3488d756.19688",
        "type": "debug",
        "z": "ad552fcc.0f3e48",
        "name": "OutputHex",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 530,
        "y": 540,
        "wires": []
    },
    {
        "id": "c8552022.196cb8",
        "type": "inject",
        "z": "ad552fcc.0f3e48",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 145.5,
        "y": 540.25,
        "wires": [
            [
                "35781b12.35c1f4"
            ]
        ]
    },
    {
        "id": "35781b12.35c1f4",
        "type": "function",
        "z": "ad552fcc.0f3e48",
        "name": "HexDecBin",
        "func": "/* comment / describe your program */\n\nvar hex = 0xAC;\nvar bin = 0b1000; \n\n// conversion via toString(base) base = 10,2,16 etc\n\n\n\n\nnode.warn(\"Hex = \"+hex.toString(16)); \nnode.warn(\"Dec = \"+hex.toString(10)); \nnode.warn(\"Bin = \"+hex.toString(2)); \nnode.warn(bin);\nmsg.payload = hex; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "3488d756.19688"
            ]
        ]
    },
    {
        "id": "5ead91f1.e6e878",
        "type": "debug",
        "z": "ad552fcc.0f3e48",
        "name": "OutputObj",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "9f2f0a27.4ed248",
        "type": "inject",
        "z": "ad552fcc.0f3e48",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 125.5,
        "y": 120.25,
        "wires": [
            [
                "46bd07b3.e0e8d8"
            ]
        ]
    },
    {
        "id": "46bd07b3.e0e8d8",
        "type": "function",
        "z": "ad552fcc.0f3e48",
        "name": "Objects",
        "func": "/* comment / describe your program */\nvar myname = \"Markus\"\nvar myJson = {\n    \"lable\":\"value\",\n    \"string\":myname\n    \n}\n\nmyJson.NewLabel = \"SNP\";\n\n\nmsg.payload = myJson; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "5ead91f1.e6e878"
            ]
        ]
    },
    {
        "id": "f97c2abe.c9de8",
        "type": "debug",
        "z": "ad552fcc.0f3e48",
        "name": "OutputMix",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "c8ad04d0.cea2b8",
        "type": "inject",
        "z": "ad552fcc.0f3e48",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 145.5,
        "y": 180.25,
        "wires": [
            [
                "2fb9ce42.282e72"
            ]
        ]
    },
    {
        "id": "2fb9ce42.282e72",
        "type": "function",
        "z": "ad552fcc.0f3e48",
        "name": "Mix",
        "func": "/* comment / describe your program */\nvar myname = \"Markus\";\nvar mynumber = 100;\nvar hex = 0xFF;\nvar mynumber2 = 71.10;\nvar mybool = true;\nvar myJson = {\n    \"lable\":\"value\",\n    \"MyName\":myname\n    \n}\n\nmyJson.NewLabel = \"SNP\";\n\nvar myarray = [];\nmyarray[0]=\"c\";\nmyarray[1]=\"a\";\nmyarray[2]=99;\n\n// comment\nnode.warn(\"String = \"+myname); \nnode.warn(\"String2 = \"+mynumber); //When adding number to string all becomes a string\nnode.warn(\"Number1 = \"+mynumber2 + mynumber); \nnode.warn(\"Boolean = \"+mybool); \nnode.warn(\"Hex = \"+hex); \nnode.warn(hex.toString(16)); \nnode.warn(\"MyArray = \"+myarray); \n\nmsg.payload = myJson;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "f97c2abe.c9de8"
            ]
        ]
    },
    {
        "id": "fec61c75.13fd1",
        "type": "debug",
        "z": "ad552fcc.0f3e48",
        "name": "outputFOR",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "ad57fa75.354bd8",
        "type": "inject",
        "z": "ad552fcc.0f3e48",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 145.5,
        "y": 480.25,
        "wires": [
            []
        ]
    },
    {
        "id": "2763472.263de38",
        "type": "debug",
        "z": "ad552fcc.0f3e48",
        "name": "outputFOR",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "71cebf9f.ac6ea8",
        "type": "inject",
        "z": "ad552fcc.0f3e48",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 145.5,
        "y": 620.25,
        "wires": [
            []
        ]
    }
]
