snp00/iotcandle/02-01Vaiables02.flow
[{"id":"65992cd2.e12a24","type":"debug","z":"27e6f3b6.413ff4","name":"outputIF","active":true,"console":"false","complete":"payload","x":500,"y":300,"wires":[]},{"id":"500c5b9b.29c43c","type":"inject","z":"27e6f3b6.413ff4","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125.5,"y":300.25,"wires":[["824a3565.afad88"]]},{"id":"824a3565.afad88","type":"function","z":"27e6f3b6.413ff4","name":"IF","func":"/* comment / describe your program */\nvar i = 1;\nvar a = 5;\nvar answer;\nif(a>i)\n{\n    answer=true;\n}else{\n     answer=false;\n    \n}\n\nnode.warn(\"is a > i = \"+answer);\nmsg.payload = answer;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["65992cd2.e12a24"]]},{"id":"1890680d.5a6c18","type":"debug","z":"27e6f3b6.413ff4","name":"outputWHILE","active":true,"console":"false","complete":"payload","x":520,"y":360,"wires":[]},{"id":"dc614186.9651b","type":"inject","z":"27e6f3b6.413ff4","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125.5,"y":360.25,"wires":[["cdcf5d1e.9ce67"]]},{"id":"cdcf5d1e.9ce67","type":"function","z":"27e6f3b6.413ff4","name":"WHILE","func":"/* comment / describe your program */\nvar i = 1;\nvar a = 5;\n\n\nwhile (a > i)\n{\n i++;\n node.warn(\" i = \"+i);\n}\n\n\nmsg.payload = i;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["1890680d.5a6c18"]]},{"id":"94faeb99.1ed6a","type":"debug","z":"27e6f3b6.413ff4","name":"outputFOR","active":true,"console":"false","complete":"payload","x":510,"y":420,"wires":[]},{"id":"96c3f5b1.47ee2","type":"inject","z":"27e6f3b6.413ff4","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125.5,"y":420.25,"wires":[[]]}]
