snp00/iotcandle/02-02Weather01.flow
[
    {
        "id": "542a309c.22bd",
        "type": "ibmiot out",
        "z": "c18c7fe2.7cb75",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "playbulb01",
        "deviceType": "playbulb",
        "eventCommandType": "setColor",
        "format": "json",
        "data": "msg.payload",
        "qos": 0,
        "name": "toPiCandle",
        "service": "registered",
        "x": 1110,
        "y": 400,
        "wires": []
    },
    {
        "id": "a48f064a.b0a6f",
        "type": "function",
        "z": "c18c7fe2.7cb75",
        "name": "CheckAndSet",
        "func": "var r=0;\nvar g=0;\nvar b=0;\n\nif (msg.observation.temp <=10)\n       b=255; \n\n\nif (msg.observation.temp >=20)\n       r=255; \n       \nif (msg.observation.temp >10 && msg.observation.temp <20 )\n{\n   r=255;\n   g=140;\n    \n}       \n       \n       \nvar newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : r,\n\"gg\" : g,\n\"bb\" : b\n    \n}\n\n\n\nmsg.payload=newmsg ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 400,
        "wires": [
            [
                "542a309c.22bd",
                "cb57c158.9afe98"
            ]
        ]
    },
    {
        "id": "befa5a10.f5508",
        "type": "function",
        "z": "c18c7fe2.7cb75",
        "name": "Set to10",
        "func": "msg.observation={}\nmsg.observation.temp = 10\nmsg.payload = 10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "a48f064a.b0a6f"
            ]
        ]
    },
    {
        "id": "74a1fe6f.dabe7",
        "type": "inject",
        "z": "c18c7fe2.7cb75",
        "name": "Cold",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "befa5a10.f5508"
            ]
        ]
    },
    {
        "id": "cb57c158.9afe98",
        "type": "debug",
        "z": "c18c7fe2.7cb75",
        "name": "SendToCandle",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1100,
        "y": 340,
        "wires": []
    },
    {
        "id": "ab170289.fd27b",
        "type": "inject",
        "z": "c18c7fe2.7cb75",
        "name": "Hot",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 310,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "8d5e0556.f01618",
        "type": "function",
        "z": "c18c7fe2.7cb75",
        "name": "Set to 15",
        "func": "msg.observation={}\nmsg.observation.temp = 15;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "a48f064a.b0a6f"
            ]
        ]
    },
    {
        "id": "a97916e4.0152d8",
        "type": "inject",
        "z": "c18c7fe2.7cb75",
        "name": "Warm",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "8d5e0556.f01618"
            ]
        ]
    },
    {
        "id": "70a88e33.ad9f68",
        "type": "e-mail",
        "z": "c18c7fe2.7cb75",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "name": "snpkid01@gmail.com",
        "dname": "",
        "x": 1080,
        "y": 700,
        "wires": []
    },
    {
        "id": "38594192.8bd5e6",
        "type": "function",
        "z": "c18c7fe2.7cb75",
        "name": "Create Email",
        "func": "msg.observation={}\nmsg.observation.temp=5;\n\nif (msg.observation.temp <10)\n{\n    msg.topic = \"SNP01 temp update hello Markus\"\n    msg.payload= \"Hello from Node-RED \"+\"\\nTemperature in Brantford is \"+msg.observation.temp \n\nnode.send(msg)\n}\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 700,
        "wires": [
            [
                "70a88e33.ad9f68"
            ]
        ]
    },
    {
        "id": "401d399e.5251c8",
        "type": "inject",
        "z": "c18c7fe2.7cb75",
        "name": "Warm",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 610,
        "y": 660,
        "wires": [
            [
                "38594192.8bd5e6"
            ]
        ]
    },
    {
        "id": "2fec66c7.4921e2",
        "type": "comment",
        "z": "c18c7fe2.7cb75",
        "name": "GMAIL credential",
        "info": "username: snpkid01@gmail.com\npassword: snpkids@01",
        "x": 1020,
        "y": 540,
        "wires": []
    },
    {
        "id": "b5bae5ec.5f5be8",
        "type": "comment",
        "z": "c18c7fe2.7cb75",
        "name": "Github credential",
        "info": "username: snpkid01@gmail.com\npassword: snpkid01",
        "x": 1051.4285888671875,
        "y": 579.9999694824219,
        "wires": []
    }
]
