snp00/iotcandle/02-02Weather01.flow
[
    {
        "id": "26d21509.be00ea",
        "type": "ibmiot out",
        "z": "7ebfd059.b4fe1",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "playbulb00",
        "deviceType": "playbulb",
        "eventCommandType": "setColor",
        "format": "json",
        "data": "msg.payload",
        "qos": 0,
        "name": "toPiCandle",
        "service": "registered",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "8533d0c5.21f39",
        "type": "function",
        "z": "7ebfd059.b4fe1",
        "name": "CheckAndSet",
        "func": "var r=0;\nvar g=0;\nvar b=0;\n\nif (msg.observation.temp <=10)\n       b=255; \n\n\nif (msg.observation.temp >=20)\n       r=255; \n       \nif (msg.observation.temp >10 && msg.observation.temp <20 )\n{\n   r=255;\n   g=140;\n    \n}       \n       \n       \nvar newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : r,\n\"gg\" : g,\n\"bb\" : b\n    \n}\n\n\n\nmsg.payload=newmsg ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 200,
        "wires": [
            [
                "26d21509.be00ea",
                "4c56e1d1.5a27b"
            ]
        ]
    },
    {
        "id": "b3d3a22.d6b546",
        "type": "function",
        "z": "7ebfd059.b4fe1",
        "name": "Set to10",
        "func": "msg.observation={}\nmsg.observation.temp = 10\nmsg.payload = 10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "8533d0c5.21f39"
            ]
        ]
    },
    {
        "id": "66a96d38.5f5fa4",
        "type": "inject",
        "z": "7ebfd059.b4fe1",
        "name": "Cold",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "b3d3a22.d6b546"
            ]
        ]
    },
    {
        "id": "4c56e1d1.5a27b",
        "type": "debug",
        "z": "7ebfd059.b4fe1",
        "name": "SendToCandle",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "8e43f67b.9b9098",
        "type": "inject",
        "z": "7ebfd059.b4fe1",
        "name": "Hot",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4322998a.1cabb8",
        "type": "function",
        "z": "7ebfd059.b4fe1",
        "name": "Set to 15",
        "func": "msg.observation={}\nmsg.observation.temp = 15;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 260,
        "wires": [
            [
                "8533d0c5.21f39"
            ]
        ]
    },
    {
        "id": "ee414bc5.a12c2",
        "type": "inject",
        "z": "7ebfd059.b4fe1",
        "name": "Warm",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "4322998a.1cabb8"
            ]
        ]
    },
    {
        "id": "68cb9ba7.fbfebc",
        "type": "e-mail",
        "z": "7ebfd059.b4fe1",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "name": "snpkid01@gmail.com",
        "dname": "",
        "x": 900,
        "y": 500,
        "wires": []
    },
    {
        "id": "14509aec.61606d",
        "type": "function",
        "z": "7ebfd059.b4fe1",
        "name": "Create Email",
        "func": "msg.observation={}\nmsg.observation.temp=5;\n\nif (msg.observation.temp <10)\n{\n    msg.topic = \"SNP00 temp update\"\n    msg.payload= \"Hello from Node-RED \"+\"\\nTemperature in Brantford is \"+msg.observation.temp \n\nnode.send(msg)\n}\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 500,
        "wires": [
            [
                "68cb9ba7.fbfebc"
            ]
        ]
    },
    {
        "id": "3b774975.709166",
        "type": "inject",
        "z": "7ebfd059.b4fe1",
        "name": "Warm",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 410,
        "y": 500,
        "wires": [
            [
                "14509aec.61606d"
            ]
        ]
    }
]
