snp00/iotcandle/04-01-IssArea.flow
[
    {
        "id": "3652a329.38a0fc",
        "type": "template",
        "z": "5977a607.3e7eb",
        "name": "Space Station Tracker",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "<!DOCTYPE html>\n<html>\n    <head>\n        <title>Realtime ISS</title>\n        <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\" />\n        <style type=\"text/css\">\n            html { height: 100% }\n            body { height: 100%; margin: 0; padding: 0 }\n            #map { height: 100% }\n        </style>\n        <script type=\"text/javascript\" src=\"//maps.googleapis.com/maps/api/js?key=AIzaSyAFLoXS1lPMv75OISOZ0GujwAhH1LPlJP4&sensor=false\"></script>\n        <script src=\"//googlemaps.github.io/js-map-label/src/maplabel-compiled.js\"></script>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n            var map, marker, last_latlng;\n\n            function init() {\n                var latlng = new google.maps.LatLng(43.7081784,-79.4609571);//51.48931, -0.08819);\n                var mapOptions = { center: latlng, zoom: 2, mapTypeId: google.maps.MapTypeId.TERRAIN, //zoomControl: true, scaleControl: true}\n          \n           mapTypeControl: true,\n          mapTypeControlOptions: {\n              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,\n              position: google.maps.ControlPosition.TOP_CENTER\n          },\n          zoomControl: true,\n          zoomControlOptions: {\n              position: google.maps.ControlPosition.LEFT_CENTER\n          },\n          scaleControl: true,\n          streetViewControl: true,\n          streetViewControlOptions: {\n              position: google.maps.ControlPosition.LEFT_TOP\n          },\n          fullscreenControl: true\n                }\n\n\n                map = new google.maps.Map(document.getElementById(\"map\"), mapOptions);\n                infoWindow = new google.maps.InfoWindow();\n                maxZoomService = new google.maps.MaxZoomService();\n              //  map.addListener('click', showMaxZoom);\n\n\n                marker = new google.maps.Marker({ position: latlng, map: map, title: \"Lat:\"+latlng, icon: 'https://raw.githubusercontent.com/picklepete/iss/master/saticon.gif' });\n    //aquator\n    \n    \n       var rectangle = new google.maps.Rectangle({\n       strokeColor: '#0000FF',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(0, 90),\n       new google.maps.LatLng(0, 0))\n     });\n     \n    b1tlx= 85.03568516\n    b1tly= -150.734375\n    b1brx= -60.2679967\n    b1bry= -120.90625\n    var rectangle = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b1tlx, b1tly),\n       new google.maps.LatLng(b1brx, b1bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 1',\n          position: new google.maps.LatLng(b1brx, b1bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n     //   mapLabel.set('position', new google.maps.LatLng(34.03, -118.235));\n        \n    b2tlx= 85.03568516\n    b2tly= -100.734375\n    b2brx= -60.2679967\n    b2bry= -70.90625\n   \n  var rectangle1 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b2tlx, b2tly),\n       new google.maps.LatLng(b2brx, b2bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 2',\n          position: new google.maps.LatLng(b2brx, b2bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n   \n  var rectangle2 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, -50.734375),\n       new google.maps.LatLng(-60.2679967,-10.90625))\n     });\n   \n       var mapLabel = new MapLabel({\n          text: 'BOX 3',\n          position: new google.maps.LatLng(-60.2679967,-10.90625),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n     var rectangle3 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, 10),\n       new google.maps.LatLng(-60.2679967, 40))\n     });\n     \n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 4',\n          position: new google.maps.LatLng(-60.2679967, 40),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n          var rectangle4 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85, 90),\n       new google.maps.LatLng(-60, 130))\n     }); \n     \n       \n       var mapLabel = new MapLabel({\n          text: 'BOX 5',\n          position: new google.maps.LatLng(-60, 130),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n         \n            }\n            google.maps.event.addDomListener(window, 'load', init);\n\n\n\n           function showMaxZoom(e) {\n             maxZoomService.getMaxZoomAtLatLng(e.latLng, function(response) {\n               if (response.status !== google.maps.MaxZoomStatus.OK) {\n                 infoWindow.setContent('Error in MaxZoomService');\n               } else {\n                 infoWindow.setContent(\n                     'The maximum zoom at this location is: ' + response.zoom);\n               }\n               infoWindow.setPosition(e.latLng);\n               infoWindow.open(map);\n             });\n           }\n            function draw_flight_path(latlng) {\n                if(last_latlng == undefined) {\n                    last_latlng = latlng;\n                }\n                flight_path = new google.maps.Polyline({\n                    path: [last_latlng, latlng],\n                    strokeColor: \"#FFFF00\",\n                    strokeOpacity: 1.0,\n                    strokeWeight: 2\n                });\n                last_latlng = latlng;\n                flight_path.setMap(map);\n            };\n\n            function get_latest_position() {\n                $.getJSON('http://open-notify-api.herokuapp.com/iss-now.json?callback=?', function(data, status) {\n                    position = data.iss_position;\n var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n// $.getJSON('https://api.wheretheiss.at/v1/satellites/25544/', function(data, status) {\n\n                    var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n                    map.setCenter(latlng);\n                    marker.setPosition(latlng);\n                    marker.setTitle(\"Position: \"+latlng);\n                    var mycon = \"ISSI<br>Lat:\"+position.latitude+\"<br>Long\"+ position.longitude\n                    var myinfowindow = new google.maps.InfoWindow({\n                        content: mycon\n                    });\n marker.addListener('click', function() {\n    myinfowindow.open(map, marker);\n  });\n\n                    draw_flight_path(latlng);\n                    \n                });\n            };\n            setInterval(get_latest_position, 5000);\n        </script>\n    </head>\n    <body>\n        <div id=\"map\"/>\n    </body>\n</html>\n",
        "output": "str",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "5c024462.a77d84"
            ]
        ]
    },
    {
        "id": "369d4d14.ecb762",
        "type": "http in",
        "z": "5977a607.3e7eb",
        "name": "",
        "url": "/iss",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 103.5,
        "y": 79.25,
        "wires": [
            [
                "3652a329.38a0fc"
            ]
        ]
    },
    {
        "id": "5c024462.a77d84",
        "type": "http response",
        "z": "5977a607.3e7eb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "ab985207.6243d",
        "type": "http request",
        "z": "5977a607.3e7eb",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "http://open-notify-api.herokuapp.com/iss-now.json",
        "tls": "",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "6167b211.0fa58c",
                "ff362b54.412b28",
                "72fa7d32.22d6d4",
                "8c69eb1a.eb4928",
                "d02da683.fb8008"
            ]
        ]
    },
    {
        "id": "6167b211.0fa58c",
        "type": "debug",
        "z": "5977a607.3e7eb",
        "name": "IssiPos",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 280,
        "y": 120,
        "wires": []
    },
    {
        "id": "b115a8d2.2c4e98",
        "type": "inject",
        "z": "5977a607.3e7eb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "ab985207.6243d"
            ]
        ]
    },
    {
        "id": "65edde5c.bbe92",
        "type": "ui_template",
        "z": "5977a607.3e7eb",
        "group": "1950c3f1.0225b4",
        "name": "map",
        "order": 0,
        "width": "15",
        "height": "11",
        "format": "<div >\n<iframe src=\"/iss\" height=600 width=800>\n  <p>Your browser does not support iframes.</p>\n</iframe>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 530,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ff362b54.412b28",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "DisplayLat",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "6953c818.6f7668",
                "cd5a6c91.bfb53"
            ]
        ]
    },
    {
        "id": "6953c818.6f7668",
        "type": "ui_text",
        "z": "5977a607.3e7eb",
        "group": "e0f0bae3.d7df98",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "latitude",
        "format": "{{msg.payload.iss_position.latitude}}",
        "layout": "row-spread",
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "cd5a6c91.bfb53",
        "type": "ui_text",
        "z": "5977a607.3e7eb",
        "group": "e0f0bae3.d7df98",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "longitude",
        "format": "{{msg.payload.iss_position.longitude}}",
        "layout": "row-spread",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "5fd57c7e.6588bc",
        "type": "ui_gauge",
        "z": "5977a607.3e7eb",
        "name": "",
        "group": "cf8b9498.08d88",
        "order": 0,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Blue",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#7e959a",
            "#6f7dc9",
            "#530dbb"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1250,
        "y": 800,
        "wires": []
    },
    {
        "id": "cc707d55.daf2e",
        "type": "ui_gauge",
        "z": "5977a607.3e7eb",
        "name": "",
        "group": "cf8b9498.08d88",
        "order": 0,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Green",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#7e959a",
            "#73bc78",
            "#21ac1b"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1250,
        "y": 760,
        "wires": []
    },
    {
        "id": "8c69eb1a.eb4928",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "CheckArea",
        "func": "//Lat = Y Long = X\n/*\nbb is the bounding box, (ix,iy) are its top-left coordinates, and (ax,ay) its bottom-right coordinates. p is the point and (x,y) its coordinates.\n*/\nfunction checkPos(lat,lon,topleftlat,topleftlon,bottomrightlat,bottomrightlon,box)\n{\n    msg.inbox = box;\n  \n  //  node.warn(\"X topleftlon \"+topleftlon+\"  <= lon \"+lon+ \" res = \"+(   topleftlon <= lon   ))\n  //  node.warn(\"X lon \"+lon+\"  <= bottomrightlon \"+bottomrightlon+ \" res = \"+(  lon <= bottomrightlon)  )\n\nif( topleftlon <= lon && lon <= bottomrightlon ) {\n    // Point is in bounding box\n\n \n //node.warn(\" ISS in the area (\"+box+\").. candle ON\")  \nreturn true;\n\n}else{\n// node.warn(\"ISS not in the area  (\"+box+\")... candle OFF\")  \n return  false;\n\n\n}\nreturn  false;\n}\n\n \nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n\n  r0LatTl= 85\n  r0LngTl=-150\n\n  r0LatBr= -60\n  r0LngBr= -120\n\n  r1LatTl=  85\n  r1LngTl=-100.\n\n  r1LatBr= -60\n  r1LngBr= -70\n\n\n  r2LatTl=  85\n  r2LngTl= -50\n\n  r2LatBr= -60\n  r2LngBr= -10\n\n  r3LatTl=  85\n  r3LngTl= 10\n\n  r3LatBr= 85\n  r3LngBr= 40\n  \n  r4LatTl= 85\n  r4LngTl= 90\n\n  r4LatBr= -60\n  r4LngBr= 130\n\n/*\n\nlatitude\n\n-50.50472391191916\n\nlongitude\n\n-126.35910070188285\n\n\n\nlatitude = -50.5047239119191\n\nlongitude= -126.35910070188285\n\nmsg.inarea = false;\n node.warn(\"check\")\nres =checkPos(latitude ,longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box 1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n  */  \n\nmsg.inarea = false;\nres =checkPos(msg.latitude ,msg.longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n\n\nres =checkPos(msg.latitude ,msg.longitude,r1LatTl,r1LngTl,r1LatBr,r1LngBr,\"box 2\");\nmsg.inarea = res;\nif(res)\n    return msg;\n    \n \nres =checkPos(msg.latitude ,msg.longitude,r2LatTl,r2LngTl,r2LatBr,r2LngBr,\"box 3\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\nres =checkPos(msg.latitude ,msg.longitude,r3LatTl,r3LngTl,r3LatBr,r3LngBr,\"box 4\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\n\nres =checkPos(msg.latitude ,msg.longitude,r4LatTl,r4LngTl,r4LatBr,r4LngBr,\"box 5\");\nmsg.inarea = res;\nif(res)\n    return msg; \n    \nmsg.inbox = \"No\";    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 400,
        "wires": [
            [
                "dfe44a8.276d638",
                "53c391ec.af9288",
                "c3c8b7ed.853128"
            ]
        ]
    },
    {
        "id": "97eb60b9.f60cb8",
        "type": "e-mail",
        "z": "5977a607.3e7eb",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "name": "yourmail@gmail.com , mvk4ibm@gmail.com",
        "dname": "",
        "x": 1230,
        "y": 400,
        "wires": []
    },
    {
        "id": "3ee02a0e.f4b6ae",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "IfIss is in Area send email",
        "func": "\n    msg.topic = \"ISS update for YOU\"\n    msg.payload= \"Hello from Node-RED ISS is in Area with the SPEED of x Km/H and traveled  \"+global.get(\"distance\")+ \" km\";\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 400,
        "wires": [
            [
                "97eb60b9.f60cb8",
                "f3aa6184.87dba8"
            ]
        ]
    },
    {
        "id": "493ccc2b.d612e4",
        "type": "inject",
        "z": "5977a607.3e7eb",
        "name": "Send Email",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 890,
        "y": 460,
        "wires": [
            [
                "3ee02a0e.f4b6ae"
            ]
        ]
    },
    {
        "id": "f3aa6184.87dba8",
        "type": "debug",
        "z": "5977a607.3e7eb",
        "name": "email",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1110,
        "y": 460,
        "wires": []
    },
    {
        "id": "bc0438a9.3cbb5",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "setCandleMode=Flashing",
        "func": "var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "87699fc6.06b91",
        "type": "delay",
        "z": "5977a607.3e7eb",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 120,
        "y": 560,
        "wires": [
            [
                "c03a33f.66f485"
            ]
        ]
    },
    {
        "id": "696ae47b.51befc",
        "type": "ibmiot out",
        "z": "5977a607.3e7eb",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "playbulb00",
        "deviceType": "playbulb",
        "eventCommandType": "setColor",
        "format": "json",
        "data": "msg.payload",
        "qos": 0,
        "name": "toPiCandle",
        "service": "registered",
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "4db249d9.a5b89",
        "type": "comment",
        "z": "5977a607.3e7eb",
        "name": "Check the Code below",
        "info": "",
        "x": 200,
        "y": 360,
        "wires": []
    },
    {
        "id": "273d1e77.33ede2",
        "type": "comment",
        "z": "5977a607.3e7eb",
        "name": "IssWebPage",
        "info": "",
        "x": 287.2222222222222,
        "y": 37.5,
        "wires": []
    },
    {
        "id": "eb87da3f.2d349",
        "type": "comment",
        "z": "5977a607.3e7eb",
        "name": "#2 Use Your GMAIL account",
        "info": "",
        "x": 1180,
        "y": 360,
        "wires": []
    },
    {
        "id": "81466e0.9b9871",
        "type": "inject",
        "z": "5977a607.3e7eb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 600,
        "wires": [
            [
                "c03a33f.66f485"
            ]
        ]
    },
    {
        "id": "fedbd7d1.0ba19",
        "type": "comment",
        "z": "5977a607.3e7eb",
        "name": "#1 Adjust the candle number",
        "info": "",
        "x": 920,
        "y": 500,
        "wires": []
    },
    {
        "id": "87a62ae8.ff875",
        "type": "comment",
        "z": "5977a607.3e7eb",
        "name": "#1 Adjust the candle number",
        "info": "",
        "x": 680,
        "y": 720,
        "wires": []
    },
    {
        "id": "b11e3d80.a1885",
        "type": "debug",
        "z": "5977a607.3e7eb",
        "name": "InComing",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 620,
        "y": 840,
        "wires": []
    },
    {
        "id": "94dd34a8.ef1748",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "Red",
        "func": "var newmsg ={}\nnewmsg.payload = msg.payload.candleRR\nnewmsg.topic =\"Red\";\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 720,
        "wires": [
            [
                "98397a20.d74fa"
            ]
        ]
    },
    {
        "id": "22dcc2b3.fbd8d6",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "Green",
        "func": "msg.payload = msg.payload.candleGG\nmsg.topic =\"Green\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 760,
        "wires": [
            [
                "cc707d55.daf2e"
            ]
        ]
    },
    {
        "id": "36ba035.489a87c",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "Blue",
        "func": "msg.payload = msg.payload.candleBB\nmsg.topic =\"Blue\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 800,
        "wires": [
            [
                "5fd57c7e.6588bc"
            ]
        ]
    },
    {
        "id": "98397a20.d74fa",
        "type": "ui_gauge",
        "z": "5977a607.3e7eb",
        "name": "",
        "group": "cf8b9498.08d88",
        "order": 0,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Red",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#7e959a",
            "#bcb489",
            "#ac0c19"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1250,
        "y": 720,
        "wires": []
    },
    {
        "id": "6d503ff5.b7f148",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "setCandle=OFF",
        "func": "var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 480,
        "wires": [
            [
                "696ae47b.51befc",
                "22478d1f.d87b82"
            ]
        ]
    },
    {
        "id": "67e0eab.ebf2c94",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "setCandle=Red",
        "func": "var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 540,
        "wires": [
            [
                "696ae47b.51befc"
            ]
        ]
    },
    {
        "id": "a52183db.58a25",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "setCandle=Blue",
        "func": "var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 680,
        "wires": [
            [
                "696ae47b.51befc"
            ]
        ]
    },
    {
        "id": "d46c90fe.ec8e8",
        "type": "inject",
        "z": "5977a607.3e7eb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 640,
        "wires": [
            [
                "a52183db.58a25"
            ]
        ]
    },
    {
        "id": "c03a33f.66f485",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "setCandle=Green",
        "func": "var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 580,
        "wires": [
            [
                "696ae47b.51befc"
            ]
        ]
    },
    {
        "id": "b876a379.841928",
        "type": "comment",
        "z": "5977a607.3e7eb",
        "name": "#3 Check email text",
        "info": "",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "dfe44a8.276d638",
        "type": "switch",
        "z": "5977a607.3e7eb",
        "name": "In Area ?",
        "property": "inarea",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "87699fc6.06b91",
                "819f2813.4f67f",
                "67e0eab.ebf2c94",
                "fc0d1d8e.629b9"
            ],
            [
                "6d503ff5.b7f148"
            ]
        ]
    },
    {
        "id": "819f2813.4f67f",
        "type": "delay",
        "z": "5977a607.3e7eb",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 620,
        "y": 400,
        "wires": [
            [
                "3ee02a0e.f4b6ae"
            ]
        ]
    },
    {
        "id": "22478d1f.d87b82",
        "type": "debug",
        "z": "5977a607.3e7eb",
        "name": "Not in area",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 650,
        "y": 480,
        "wires": []
    },
    {
        "id": "53c391ec.af9288",
        "type": "debug",
        "z": "5977a607.3e7eb",
        "name": "Check",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "38ae4de.2dfeeb2",
        "type": "ui_text",
        "z": "5977a607.3e7eb",
        "group": "e0f0bae3.d7df98",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "In Area?",
        "format": "{{msg.inbox}}",
        "layout": "row-spread",
        "x": 720,
        "y": 320,
        "wires": []
    },
    {
        "id": "c3c8b7ed.853128",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "InBox",
        "func": "msg.inbox = msg.inbox.toUpperCase();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 320,
        "wires": [
            [
                "38ae4de.2dfeeb2"
            ]
        ]
    },
    {
        "id": "4c146c79.ec58fc",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "setCandle=OFF",
        "func": "var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 800,
        "wires": [
            [
                "696ae47b.51befc"
            ]
        ]
    },
    {
        "id": "8d4372ea.ed982",
        "type": "ui_button",
        "z": "5977a607.3e7eb",
        "name": "",
        "group": "e0f0bae3.d7df98",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn Candle Off",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "\"off\"",
        "payloadType": "str",
        "topic": "",
        "x": 136.875,
        "y": 840.625,
        "wires": [
            [
                "4c146c79.ec58fc"
            ]
        ]
    },
    {
        "id": "fc0d1d8e.629b9",
        "type": "debug",
        "z": "5977a607.3e7eb",
        "name": "In Area",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 520,
        "y": 360,
        "wires": []
    },
    {
        "id": "f4793df9.bb232",
        "type": "comment",
        "z": "5977a607.3e7eb",
        "name": "Infos",
        "info": "mvk@ca.ibm.com - November 2017 \nSee https://github.com/SixNationsPolytechnic/iotcandle",
        "x": 90,
        "y": 1000,
        "wires": []
    },
    {
        "id": "3afd8d16.265ab2",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "Counter",
        "func": "var newmsg ={}\nnewmsg.payload = msg.payload.value\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 660,
        "wires": [
            [
                "4240af3e.18b4e"
            ]
        ]
    },
    {
        "id": "4240af3e.18b4e",
        "type": "ui_text",
        "z": "5977a607.3e7eb",
        "group": "cf8b9498.08d88",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1260,
        "y": 660,
        "wires": []
    },
    {
        "id": "72fa7d32.22d6d4",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "Sale LatLong",
        "func": "\nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n//msg.payload = []//\n//msg.payload =msg.latitude;\n//msg.topic=\"Lat\";\nnode.send(msg)\nmsg.topic=\"Lon\";\nmsg.payload =msg.longitude;\n//msg.payload[1] =msg.longitude;\n//\"\"+msg.latitude+\",\"+msg.longitude;\nglobal.set(\"oldlatitude\",global.get(\"latitude\"));\nglobal.set(\"oldlongitude\",global.get(\"longitude\"));\n\nglobal.set(\"latitude\",msg.latitude)\nglobal.set(\"longitude\",msg.longitude)\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "2f5a5e37.5a57fa",
                "fb726036.801ba8"
            ]
        ]
    },
    {
        "id": "cf6b925f.49d9b",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "Time",
        "func": "function unixTime(unixtime) {\n\n    var u = new Date(unixtime);\n\n      return u.getUTCFullYear() +\n        '-' + ('0' + (1+u.getUTCMonth())).slice(-2) +\n        '-' + ('0' + u.getUTCDate()).slice(-2) + \n        ' ' + ('0' + u.getUTCHours()).slice(-2) +\n        ':' + ('0' + u.getUTCMinutes()).slice(-2) +\n        ':' + ('0' + u.getUTCSeconds()).slice(-2) +\n        '.' + (u.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) \n    };\n    var newmsg ={}\nnewmsg.payload = unixTime(parseInt(msg.payload.ts))\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 620,
        "wires": [
            [
                "c23f8e99.02fe58"
            ]
        ]
    },
    {
        "id": "c23f8e99.02fe58",
        "type": "ui_text",
        "z": "5977a607.3e7eb",
        "group": "cf8b9498.08d88",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Msg Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1260,
        "y": 620,
        "wires": []
    },
    {
        "id": "3c7825aa.c7882a",
        "type": "ui_button",
        "z": "5977a607.3e7eb",
        "name": "",
        "group": "e0f0bae3.d7df98",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn Candle Blue",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "\"off\"",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "a52183db.58a25"
            ]
        ]
    },
    {
        "id": "2f5a5e37.5a57fa",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "Distance",
        "func": "function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {\n  var R = 6371; // Radius of the earth in km\n  var dLat = deg2rad(lat2-lat1);  // deg2rad below\n  var dLon = deg2rad(lon2-lon1); \n  var a = \n    Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * \n    Math.sin(dLon/2) * Math.sin(dLon/2)\n    ; \n  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n  var d = R * c; // Distance in km\n  return d;\n}\n\nfunction deg2rad(deg) {\n  return deg * (Math.PI/180)\n}\nlat=global.get(\"latitude\");\nlon=global.get(\"longitude\");\nolat=global.get(\"oldlatitude\");\nolon=global.get(\"oldlongitude\");\n\n\ndistance =getDistanceFromLatLonInKm(olat,olon,lat,lon)\n//node.warn(speed)\nmsg.payload = distance.toFixed(2);\nmsg.distance = distance;\nglobal.set(\"distance\",distance);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 80,
        "wires": [
            [
                "d798f3f3.f7b658",
                "de1bba7.8c426c8"
            ]
        ]
    },
    {
        "id": "d798f3f3.f7b658",
        "type": "ui_text",
        "z": "5977a607.3e7eb",
        "group": "e0f0bae3.d7df98",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distance in Km( 10Sec)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 970,
        "y": 80,
        "wires": []
    },
    {
        "id": "fb726036.801ba8",
        "type": "ui_chart",
        "z": "5977a607.3e7eb",
        "name": "",
        "group": "e0f0bae3.d7df98",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Longitude",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 727.2222222222222,
        "y": 123.88888888888889,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2eb19fe9.27b188",
        "type": "ui_text",
        "z": "5977a607.3e7eb",
        "group": "e0f0bae3.d7df98",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Speed in Km/H",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 940,
        "y": 40,
        "wires": []
    },
    {
        "id": "de1bba7.8c426c8",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "Calulate SPEED",
        "func": "// Home work! Calulate the speed in Km/H of the ISS\n// based on the distance \n//msg.distance = IIS traveld in 10 Sec\n\nmsg.payload = \"???\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 40,
        "wires": [
            [
                "2eb19fe9.27b188"
            ]
        ]
    },
    {
        "id": "9a5a8848.fbbb98",
        "type": "switch",
        "z": "5977a607.3e7eb",
        "name": "Filter Event",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ping",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "onCandleColorChange",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "onCandleBlowOnOFF",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 810,
        "y": 760,
        "wires": [
            [
                "cf6b925f.49d9b",
                "3afd8d16.265ab2",
                "7dd2eb98.8912dc"
            ],
            [
                "22dcc2b3.fbd8d6",
                "36ba035.489a87c",
                "94dd34a8.ef1748"
            ],
            [
                "94dd34a8.ef1748",
                "22dcc2b3.fbd8d6",
                "36ba035.489a87c"
            ],
            [
                "71a07ae2.8eca9c"
            ]
        ]
    },
    {
        "id": "89a0770c.2afc88",
        "type": "ibmiot in",
        "z": "5977a607.3e7eb",
        "authentication": "boundService",
        "apiKey": "4c6c3038.24319",
        "inputType": "evt",
        "deviceId": "playbulb00",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "fromCandle",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 630,
        "y": 760,
        "wires": [
            [
                "9a5a8848.fbbb98",
                "b11e3d80.a1885",
                "4f68e685.469318"
            ]
        ]
    },
    {
        "id": "71a07ae2.8eca9c",
        "type": "debug",
        "z": "5977a607.3e7eb",
        "name": "Event",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 810,
        "y": 840,
        "wires": []
    },
    {
        "id": "d02da683.fb8008",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "Time",
        "func": "function unixTime(unixtime) {\n\n    var u = new Date(unixtime);\n//node.warn(unixtime*1000)\n      return u.getUTCFullYear() +\n        '-' + ('0' + (1+u.getUTCMonth())).slice(-2) +\n        '-' + ('0' + u.getUTCDate()).slice(-2) + \n        ' ' + ('0' + u.getUTCHours()).slice(-2) +\n        ':' + ('0' + u.getUTCMinutes()).slice(-2) +\n        ':' + ('0' + u.getUTCSeconds()).slice(-2) \n          };\n    var newmsg ={}\nnewmsg.payload = unixTime((msg.payload.timestamp*1000))\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 240,
        "wires": [
            [
                "523e0799.e73618"
            ]
        ]
    },
    {
        "id": "523e0799.e73618",
        "type": "ui_text",
        "z": "5977a607.3e7eb",
        "group": "e0f0bae3.d7df98",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ISS Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 240,
        "wires": []
    },
    {
        "id": "4f68e685.469318",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "Event",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 580,
        "wires": [
            [
                "8bad3168.ad37a8"
            ]
        ]
    },
    {
        "id": "8bad3168.ad37a8",
        "type": "ui_text",
        "z": "5977a607.3e7eb",
        "group": "cf8b9498.08d88",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Event",
        "format": "{{msg.payload.event}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 580,
        "wires": []
    },
    {
        "id": "7dd2eb98.8912dc",
        "type": "function",
        "z": "5977a607.3e7eb",
        "name": "Name",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 540,
        "wires": [
            [
                "b87c46ab.d45d5"
            ]
        ]
    },
    {
        "id": "b87c46ab.d45d5",
        "type": "ui_text",
        "z": "5977a607.3e7eb",
        "group": "cf8b9498.08d88",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Name",
        "format": "{{msg.payload.candleName}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 540,
        "wires": []
    },
    {
        "id": "1950c3f1.0225b4",
        "type": "ui_group",
        "z": "",
        "name": "ISS Area",
        "tab": "79f3e4e5.ebdfdc",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "e0f0bae3.d7df98",
        "type": "ui_group",
        "z": "",
        "name": "ISS Infos",
        "tab": "79f3e4e5.ebdfdc",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "cf8b9498.08d88",
        "type": "ui_group",
        "z": "",
        "name": "FromPI",
        "tab": "79f3e4e5.ebdfdc",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "4c6c3038.24319",
        "type": "ibmiot",
        "z": "",
        "name": "",
        "keepalive": "60",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "79f3e4e5.ebdfdc",
        "type": "ui_tab",
        "z": "",
        "name": "ISS Area",
        "icon": "dashboard"
    }
]
