snp00/iotcandle/iss.flow
[{"id":"81ab99c7.8dfee","type":"template","z":"da50cf0.b71c2f","name":"Space Station Tracker","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Realtime ISS</title>\n        <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\" />\n        <style type=\"text/css\">\n            html { height: 100% }\n            body { height: 100%; margin: 0; padding: 0 }\n            #map { height: 100% }\n        </style>\n        <script type=\"text/javascript\" src=\"//maps.googleapis.com/maps/api/js?key=AIzaSyAFLoXS1lPMv75OISOZ0GujwAhH1LPlJP4&sensor=false\"></script>\n        <script src=\"//googlemaps.github.io/js-map-label/src/maplabel-compiled.js\"></script>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n            var map, marker, last_latlng;\n\n            function init() {\n                var latlng = new google.maps.LatLng(43.7081784,-79.4609571);//51.48931, -0.08819);\n                var mapOptions = { center: latlng, zoom: 2, mapTypeId: google.maps.MapTypeId.TERRAIN, //zoomControl: true, scaleControl: true}\n          \n           mapTypeControl: true,\n          mapTypeControlOptions: {\n              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,\n              position: google.maps.ControlPosition.TOP_CENTER\n          },\n          zoomControl: true,\n          zoomControlOptions: {\n              position: google.maps.ControlPosition.LEFT_CENTER\n          },\n          scaleControl: true,\n          streetViewControl: true,\n          streetViewControlOptions: {\n              position: google.maps.ControlPosition.LEFT_TOP\n          },\n          fullscreenControl: true\n                }\n\n\n                map = new google.maps.Map(document.getElementById(\"map\"), mapOptions);\n                infoWindow = new google.maps.InfoWindow();\n                maxZoomService = new google.maps.MaxZoomService();\n              //  map.addListener('click', showMaxZoom);\n\n\n                marker = new google.maps.Marker({ position: latlng, map: map, title: \"Lat:\"+latlng, icon: 'https://raw.githubusercontent.com/picklepete/iss/master/saticon.gif' });\n    //aquator\n    \n    \n       var rectangle = new google.maps.Rectangle({\n       strokeColor: '#0000FF',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(0, 90),\n       new google.maps.LatLng(0, 0))\n     });\n     \n    b1tlx= 85.03568516\n    b1tly= -150.734375\n    b1brx= -60.2679967\n    b1bry= -120.90625\n    var rectangle = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b1tlx, b1tly),\n       new google.maps.LatLng(b1brx, b1bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 1',\n          position: new google.maps.LatLng(b1brx, b1bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n     //   mapLabel.set('position', new google.maps.LatLng(34.03, -118.235));\n        \n    b2tlx= 85.03568516\n    b2tly= -100.734375\n    b2brx= -60.2679967\n    b2bry= -70.90625\n   \n  var rectangle1 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b2tlx, b2tly),\n       new google.maps.LatLng(b2brx, b2bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 2',\n          position: new google.maps.LatLng(b2brx, b2bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n   \n  var rectangle2 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, -50.734375),\n       new google.maps.LatLng(-60.2679967,-10.90625))\n     });\n   \n       var mapLabel = new MapLabel({\n          text: 'BOX 3',\n          position: new google.maps.LatLng(-60.2679967,-10.90625),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n     var rectangle3 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, 10),\n       new google.maps.LatLng(-60.2679967, 40))\n     });\n     \n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 4',\n          position: new google.maps.LatLng(-60.2679967, 40),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n          var rectangle4 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85, 90),\n       new google.maps.LatLng(-60, 130))\n     }); \n     \n       \n       var mapLabel = new MapLabel({\n          text: 'BOX 5',\n          position: new google.maps.LatLng(-60, 130),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n         \n            }\n            google.maps.event.addDomListener(window, 'load', init);\n\n\n\n           function showMaxZoom(e) {\n             maxZoomService.getMaxZoomAtLatLng(e.latLng, function(response) {\n               if (response.status !== google.maps.MaxZoomStatus.OK) {\n                 infoWindow.setContent('Error in MaxZoomService');\n               } else {\n                 infoWindow.setContent(\n                     'The maximum zoom at this location is: ' + response.zoom);\n               }\n               infoWindow.setPosition(e.latLng);\n               infoWindow.open(map);\n             });\n           }\n            function draw_flight_path(latlng) {\n                if(last_latlng == undefined) {\n                    last_latlng = latlng;\n                }\n                flight_path = new google.maps.Polyline({\n                    path: [last_latlng, latlng],\n                    strokeColor: \"#FFFF00\",\n                    strokeOpacity: 1.0,\n                    strokeWeight: 2\n                });\n                last_latlng = latlng;\n                flight_path.setMap(map);\n            };\n\n            function get_latest_position() {\n                $.getJSON('http://open-notify-api.herokuapp.com/iss-now.json?callback=?', function(data, status) {\n                    position = data.iss_position;\n var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n// $.getJSON('https://api.wheretheiss.at/v1/satellites/25544/', function(data, status) {\n\n                    var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n                    map.setCenter(latlng);\n                    marker.setPosition(latlng);\n                    marker.setTitle(\"Position: \"+latlng);\n                    var mycon = \"ISSI<br>Lat:\"+position.latitude+\"<br>Long\"+ position.longitude\n                    var myinfowindow = new google.maps.InfoWindow({\n                        content: mycon\n                    });\n marker.addListener('click', function() {\n    myinfowindow.open(map, marker);\n  });\n\n                    draw_flight_path(latlng);\n                    \n                });\n            };\n            setInterval(get_latest_position, 5000);\n        </script>\n    </head>\n    <body>\n        <div id=\"map\"/>\n    </body>\n</html>\n","output":"str","x":280,"y":60,"wires":[["8e9f37b.b39d388"]]},{"id":"1df373e3.42bd84","type":"http in","z":"da50cf0.b71c2f","name":"","url":"/iss","method":"get","upload":false,"swaggerDoc":"","x":63.5,"y":59.25,"wires":[["81ab99c7.8dfee"]]},{"id":"8e9f37b.b39d388","type":"http response","z":"da50cf0.b71c2f","name":"","statusCode":"","headers":{},"x":490,"y":60,"wires":[]},{"id":"9a15c4f3.c437a8","type":"http request","z":"da50cf0.b71c2f","name":"","method":"GET","ret":"obj","url":"http://open-notify-api.herokuapp.com/iss-now.json","tls":"","x":250,"y":140,"wires":[["2f3e4634.8dc88a","3c203170.abbb7a","1fb56596.9274c2","1e84e5d1.3df7e6"]]},{"id":"2f3e4634.8dc88a","type":"debug","z":"da50cf0.b71c2f","name":"IssiPos","active":false,"console":"false","complete":"payload","x":240,"y":100,"wires":[]},{"id":"9305cd7c.06006","type":"inject","z":"da50cf0.b71c2f","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":70,"y":140,"wires":[["9a15c4f3.c437a8"]]},{"id":"ead6d4e3.293718","type":"ui_template","z":"da50cf0.b71c2f","group":"a65d50f4.19326","name":"map","order":0,"width":"15","height":"11","format":"<div >\n<iframe src=\"/iss\" height=600 width=800>\n  <p>Your browser does not support iframes.</p>\n</iframe>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":490,"y":20,"wires":[[]]},{"id":"3c203170.abbb7a","type":"function","z":"da50cf0.b71c2f","name":"DisplayLat","func":"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["ffbf1f8a.647c1","5fff7780.affdec"]]},{"id":"ffbf1f8a.647c1","type":"ui_text","z":"da50cf0.b71c2f","group":"65c5436.771483c","order":1,"width":0,"height":0,"name":"","label":"latitude","format":"{{msg.payload.iss_position.latitude}}","layout":"row-spread","x":680,"y":140,"wires":[]},{"id":"5fff7780.affdec","type":"ui_text","z":"da50cf0.b71c2f","group":"65c5436.771483c","order":2,"width":0,"height":0,"name":"","label":"longitude","format":"{{msg.payload.iss_position.longitude}}","layout":"row-spread","x":680,"y":180,"wires":[]},{"id":"5a1744a7.7c5934","type":"ui_gauge","z":"da50cf0.b71c2f","name":"","group":"1a4997c1.4dd4f8","order":0,"width":"5","height":"3","gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#6f7dc9","#530dbb"],"seg1":"","seg2":"","x":1210,"y":720,"wires":[]},{"id":"a47a612c.7cfeb","type":"ui_gauge","z":"da50cf0.b71c2f","name":"","group":"1a4997c1.4dd4f8","order":0,"width":"5","height":"3","gtype":"gage","title":"Green","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#73bc78","#21ac1b"],"seg1":"","seg2":"","x":1210,"y":680,"wires":[]},{"id":"565a29f4.909af","type":"ibmiot in","z":"da50cf0.b71c2f","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":690,"y":680,"wires":[["ff94abe2.d6c278","3320a1e2.5e3382","e07a5798.d1e5e8","5fb2dfe1.d7e204","46d8cf40.e378b","293f0bc1.424fd4"]]},{"id":"1e84e5d1.3df7e6","type":"function","z":"da50cf0.b71c2f","name":"CheckArea","func":"//Lat = Y Long = X\n/*\nbb is the bounding box, (ix,iy) are its top-left coordinates, and (ax,ay) its bottom-right coordinates. p is the point and (x,y) its coordinates.\n*/\nfunction checkPos(lat,lon,topleftlat,topleftlon,bottomrightlat,bottomrightlon,box)\n{\n    msg.inbox = box;\n  \n  //  node.warn(\"X topleftlon \"+topleftlon+\"  <= lon \"+lon+ \" res = \"+(   topleftlon <= lon   ))\n  //  node.warn(\"X lon \"+lon+\"  <= bottomrightlon \"+bottomrightlon+ \" res = \"+(  lon <= bottomrightlon)  )\n\nif( topleftlon <= lon && lon <= bottomrightlon ) {\n    // Point is in bounding box\n\n \n //node.warn(\" ISS in the area (\"+box+\").. candle ON\")  \nreturn true;\n\n}else{\n// node.warn(\"ISS not in the area  (\"+box+\")... candle OFF\")  \n return  false;\n\n\n}\nreturn  false;\n}\n\n \nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n\n  r0LatTl= 85\n  r0LngTl=-150\n\n  r0LatBr= -60\n  r0LngBr= -120\n\n  r1LatTl=  85\n  r1LngTl=-100.\n\n  r1LatBr= -60\n  r1LngBr= -70\n\n\n  r2LatTl=  85\n  r2LngTl= -50\n\n  r2LatBr= -60\n  r2LngBr= -10\n\n  r3LatTl=  85\n  r3LngTl= 10\n\n  r3LatBr= 85\n  r3LngBr= 40\n  \n  r4LatTl= 85\n  r4LngTl= 90\n\n  r4LatBr= -60\n  r4LngBr= 130\n\n/*\n\nlatitude\n\n-50.50472391191916\n\nlongitude\n\n-126.35910070188285\n\n\n\nlatitude = -50.5047239119191\n\nlongitude= -126.35910070188285\n\nmsg.inarea = false;\n node.warn(\"check\")\nres =checkPos(latitude ,longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box 1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n  */  \n\nmsg.inarea = false;\nres =checkPos(msg.latitude ,msg.longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n\n\nres =checkPos(msg.latitude ,msg.longitude,r1LatTl,r1LngTl,r1LatBr,r1LngBr,\"box 2\");\nmsg.inarea = res;\nif(res)\n    return msg;\n    \n \nres =checkPos(msg.latitude ,msg.longitude,r2LatTl,r2LngTl,r2LatBr,r2LngBr,\"box 3\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\nres =checkPos(msg.latitude ,msg.longitude,r3LatTl,r3LngTl,r3LatBr,r3LngBr,\"box 4\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\n\nres =checkPos(msg.latitude ,msg.longitude,r4LatTl,r4LngTl,r4LatBr,r4LngBr,\"box 5\");\nmsg.inarea = res;\nif(res)\n    return msg; \n    \nmsg.inbox = \"No\";    \nreturn msg;","outputs":1,"noerr":0,"x":150,"y":320,"wires":[["f90a551e.ca9538","6cbd33f5.a2247c","d7c69ca7.568c68"]]},{"id":"7feeb201.715f94","type":"e-mail","z":"da50cf0.b71c2f","server":"smtp.gmail.com","port":"465","secure":true,"name":"yourmail@gmail.com , mvk4ibm@gmail.com","dname":"","x":1190,"y":320,"wires":[]},{"id":"f153b32b.835a6","type":"function","z":"da50cf0.b71c2f","name":"IfIss is in Area send email","func":"\n    msg.topic = \"ISS update for YOU\"\n    msg.payload= \"Hello from Node-RED ISS is in Area with the SPEED of x Km/H and traveled  \"+global.get(\"distance\")+ \" km\";\n    return msg;","outputs":1,"noerr":0,"x":850,"y":320,"wires":[["7feeb201.715f94","2fbc590a.9e043e"]]},{"id":"df408153.4714f","type":"inject","z":"da50cf0.b71c2f","name":"Send Email","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":850,"y":380,"wires":[["f153b32b.835a6"]]},{"id":"2fbc590a.9e043e","type":"debug","z":"da50cf0.b71c2f","name":"email","active":false,"console":"false","complete":"true","x":1070,"y":380,"wires":[]},{"id":"a961184d.909928","type":"function","z":"da50cf0.b71c2f","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":840,"wires":[[]]},{"id":"a9ca820d.1ad4d","type":"delay","z":"da50cf0.b71c2f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":80,"y":480,"wires":[["fe389955.acd16"]]},{"id":"3bfa4565.b28ca6","type":"ibmiot out","z":"da50cf0.b71c2f","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":610,"y":480,"wires":[]},{"id":"4d24dfb0.9dfd","type":"comment","z":"da50cf0.b71c2f","name":"Check the Code below","info":"","x":160,"y":280,"wires":[]},{"id":"4567331a.54bea4","type":"comment","z":"da50cf0.b71c2f","name":"IssWebPage","info":"","x":247.22222222222217,"y":17.5,"wires":[]},{"id":"bb62ac12.b60ed","type":"comment","z":"da50cf0.b71c2f","name":"#2 Use Your GMAIL account","info":"","x":1140,"y":280,"wires":[]},{"id":"ca599679.76749","type":"inject","z":"da50cf0.b71c2f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":520,"wires":[["fe389955.acd16"]]},{"id":"501ce60f.27ca7","type":"comment","z":"da50cf0.b71c2f","name":"#1 Adjust the candle number","info":"","x":880,"y":420,"wires":[]},{"id":"2cc4c26e.9be1c2","type":"comment","z":"da50cf0.b71c2f","name":"#1 Adjust the candle number","info":"","x":700,"y":640,"wires":[]},{"id":"ff94abe2.d6c278","type":"debug","z":"da50cf0.b71c2f","name":"InComing","active":false,"console":"false","complete":"payload","x":680,"y":740,"wires":[]},{"id":"3320a1e2.5e3382","type":"function","z":"da50cf0.b71c2f","name":"Red","func":"var newmsg ={}\nnewmsg.payload = msg.payload.candleRR\nnewmsg.topic =\"Red\";\nreturn newmsg;","outputs":1,"noerr":0,"x":1010,"y":640,"wires":[["5df74192.cf9108"]]},{"id":"e07a5798.d1e5e8","type":"function","z":"da50cf0.b71c2f","name":"Green","func":"msg.payload = msg.payload.candleGG\nmsg.topic =\"Green\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":680,"wires":[["a47a612c.7cfeb"]]},{"id":"5fb2dfe1.d7e204","type":"function","z":"da50cf0.b71c2f","name":"Blue","func":"msg.payload = msg.payload.candleBB\nmsg.topic =\"Blue\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":720,"wires":[["5a1744a7.7c5934"]]},{"id":"5df74192.cf9108","type":"ui_gauge","z":"da50cf0.b71c2f","name":"","group":"1a4997c1.4dd4f8","order":0,"width":"5","height":"3","gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":1210,"y":640,"wires":[]},{"id":"3dacbe95.b83dce","type":"function","z":"da50cf0.b71c2f","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":400,"wires":[["3bfa4565.b28ca6","d4877172.e7c2e"]]},{"id":"a4d64e72.88b2b8","type":"function","z":"da50cf0.b71c2f","name":"setCandle=Red","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["3bfa4565.b28ca6"]]},{"id":"f9d062ea.cf35d","type":"function","z":"da50cf0.b71c2f","name":"setCandle=Blue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":600,"wires":[["3bfa4565.b28ca6"]]},{"id":"edc5a9c0.ff9ef","type":"inject","z":"da50cf0.b71c2f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":560,"wires":[["f9d062ea.cf35d"]]},{"id":"fe389955.acd16","type":"function","z":"da50cf0.b71c2f","name":"setCandle=Green","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":500,"wires":[["3bfa4565.b28ca6"]]},{"id":"816e5462.cb0c","type":"comment","z":"da50cf0.b71c2f","name":"#3 Check email text","info":"","x":830,"y":280,"wires":[]},{"id":"f90a551e.ca9538","type":"switch","z":"da50cf0.b71c2f","name":"In Area ?","property":"inarea","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":340,"y":320,"wires":[["a9ca820d.1ad4d","4fc467d1.8a3a78","a4d64e72.88b2b8","6c19d2c8.05fe08"],["3dacbe95.b83dce"]]},{"id":"4fc467d1.8a3a78","type":"delay","z":"da50cf0.b71c2f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":580,"y":320,"wires":[["f153b32b.835a6"]]},{"id":"d4877172.e7c2e","type":"debug","z":"da50cf0.b71c2f","name":"Not in area","active":true,"console":"false","complete":"true","x":610,"y":400,"wires":[]},{"id":"6cbd33f5.a2247c","type":"debug","z":"da50cf0.b71c2f","name":"Check","active":false,"console":"false","complete":"payload","x":130,"y":380,"wires":[]},{"id":"986e766d.cfd4b8","type":"ui_text","z":"da50cf0.b71c2f","group":"65c5436.771483c","order":4,"width":0,"height":0,"name":"","label":"In Area?","format":"{{msg.inbox}}","layout":"row-spread","x":680,"y":240,"wires":[]},{"id":"d7c69ca7.568c68","type":"function","z":"da50cf0.b71c2f","name":"InBox","func":"msg.inbox = msg.inbox.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["986e766d.cfd4b8"]]},{"id":"d90b6595.2c8998","type":"function","z":"da50cf0.b71c2f","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":720,"wires":[["3bfa4565.b28ca6"]]},{"id":"632d577b.2297","type":"ui_button","z":"da50cf0.b71c2f","name":"","group":"65c5436.771483c","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Off","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":96.875,"y":760.625,"wires":[["d90b6595.2c8998"]]},{"id":"6c19d2c8.05fe08","type":"debug","z":"da50cf0.b71c2f","name":"In Area","active":true,"console":"false","complete":"true","x":480,"y":280,"wires":[]},{"id":"355f0c4.650fef4","type":"comment","z":"da50cf0.b71c2f","name":"Infos","info":"mvk@ca.ibm.com - November 2017 \nSee https://github.com/SixNationsPolytechnic/iotcandle","x":50,"y":980,"wires":[]},{"id":"46d8cf40.e378b","type":"function","z":"da50cf0.b71c2f","name":"Counter","func":"var newmsg ={}\nnewmsg.payload = msg.payload.value\nreturn newmsg;","outputs":1,"noerr":0,"x":1020,"y":580,"wires":[["d86bb12.e24555"]]},{"id":"d86bb12.e24555","type":"ui_text","z":"da50cf0.b71c2f","group":"1a4997c1.4dd4f8","order":5,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":580,"wires":[]},{"id":"1fb56596.9274c2","type":"function","z":"da50cf0.b71c2f","name":"Sale LatLong","func":"\nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n//msg.payload = []//\n//msg.payload =msg.latitude;\n//msg.topic=\"Lat\";\nnode.send(msg)\nmsg.topic=\"Lon\";\nmsg.payload =msg.longitude;\n//msg.payload[1] =msg.longitude;\n//\"\"+msg.latitude+\",\"+msg.longitude;\nglobal.set(\"oldlatitude\",global.get(\"latitude\"));\nglobal.set(\"oldlongitude\",global.get(\"longitude\"));\n\nglobal.set(\"latitude\",msg.latitude)\nglobal.set(\"longitude\",msg.longitude)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["b532ce2e.2ab4f","11ec3053.7e2674"]]},{"id":"293f0bc1.424fd4","type":"function","z":"da50cf0.b71c2f","name":"Time","func":"function unixTime(unixtime) {\n\n    var u = new Date(unixtime);\n\n      return u.getUTCFullYear() +\n        '-' + ('0' + u.getUTCMonth()).slice(-2) +\n        '-' + ('0' + u.getUTCDate()).slice(-2) + \n        ' ' + ('0' + u.getUTCHours()).slice(-2) +\n        ':' + ('0' + u.getUTCMinutes()).slice(-2) +\n        ':' + ('0' + u.getUTCSeconds()).slice(-2) +\n        '.' + (u.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) \n    };\n    var newmsg ={}\nnewmsg.payload = unixTime(parseInt(msg.payload.ts))\nreturn newmsg;","outputs":1,"noerr":0,"x":1010,"y":540,"wires":[["28f8b0cf.5ed2a4"]]},{"id":"28f8b0cf.5ed2a4","type":"ui_text","z":"da50cf0.b71c2f","group":"1a4997c1.4dd4f8","order":5,"width":0,"height":0,"name":"","label":"Msg Time","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":540,"wires":[]},{"id":"bffa6bf6.646398","type":"ui_button","z":"da50cf0.b71c2f","name":"","group":"65c5436.771483c","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Blue","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":90,"y":660,"wires":[[]]},{"id":"b532ce2e.2ab4f","type":"function","z":"da50cf0.b71c2f","name":"Distance","func":"function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {\n  var R = 6371; // Radius of the earth in km\n  var dLat = deg2rad(lat2-lat1);  // deg2rad below\n  var dLon = deg2rad(lon2-lon1); \n  var a = \n    Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * \n    Math.sin(dLon/2) * Math.sin(dLon/2)\n    ; \n  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n  var d = R * c; // Distance in km\n  return d;\n}\n\nfunction deg2rad(deg) {\n  return deg * (Math.PI/180)\n}\nlat=global.get(\"latitude\");\nlon=global.get(\"longitude\");\nolat=global.get(\"oldlatitude\");\nolon=global.get(\"oldlongitude\");\n\n\ndistance =getDistanceFromLatLonInKm(olat,olon,lat,lon)\n//node.warn(speed)\nmsg.payload = distance.toFixed(2);\nmsg.distance = distance;\nglobal.set(\"distance\",distance);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":60,"wires":[["44049d21.90277","65bb1521.39f9b8"]]},{"id":"44049d21.90277","type":"ui_text","z":"da50cf0.b71c2f","group":"65c5436.771483c","order":4,"width":0,"height":0,"name":"","label":"Distance in Km( 10Sec)","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":60,"wires":[]},{"id":"11ec3053.7e2674","type":"ui_chart","z":"da50cf0.b71c2f","name":"","group":"65c5436.771483c","order":0,"width":0,"height":0,"label":"Longitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":687.2222222222222,"y":103.88888888888888,"wires":[[],[]]},{"id":"91ed9a17.0acde8","type":"ui_text","z":"da50cf0.b71c2f","group":"65c5436.771483c","order":4,"width":0,"height":0,"name":"","label":"Speed in Km/H","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":20,"wires":[]},{"id":"65bb1521.39f9b8","type":"function","z":"da50cf0.b71c2f","name":"Calulate SPEED","func":"// Home work! Calulate the speed in Km/H of the ISS\n// based on the distance \n//msg.distance = IIS traveld in 10 Sec\n\nmsg.payload = \"???\"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":20,"wires":[["91ed9a17.0acde8"]]},{"id":"a65d50f4.19326","type":"ui_group","z":"","name":"ISS Area","tab":"457abf4c.036d78","order":1,"disp":true,"width":"12"},{"id":"65c5436.771483c","type":"ui_group","z":"","name":"ISS Infos","tab":"457abf4c.036d78","order":2,"disp":true,"width":"6"},{"id":"1a4997c1.4dd4f8","type":"ui_group","z":"","name":"FromPI","tab":"457abf4c.036d78","order":3,"disp":true,"width":"6"},{"id":"457abf4c.036d78","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"}]
